*{
   box-sizing: border-box;
 }
 
 .container{
    background-color: blueviolet;
}

.content{
    display: inline-block;
    width: 200px;
    max-width: 200px;
    height: 200px;
    background-color: blue;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 30px;
    
    color: white;
}

.content2{
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
    text-align: center;
}